/* Default */
:root {
    --one-column-width: 940px;
    --two-column-width: 460px;
    --three-column-width: 300px;
    --four-column-width: 220px;
    --six-column-width: 140px;
    --twelve-column-width: 60px;
    --margin: 10px;
    --small-margin: 5px;
    --max-page-width: calc(var(--six-column-width) + calc(2 * var(--margin)));
    --color-1: #f4f1ea;
    --color-2: #ffffff;
    --color-3: #10bbd5;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    background-color: var(--color-2);
    margin: 0;
}

.page-header {
    width: 100%;
    margin: 0;
    background-color: var(--color-1);
    top: 0;
    position: sticky;
    z-index: 1;
}

.header {
    max-width: var(--max-page-width);
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: inline;
    list-style-type: none;
    font-size: 24px;
}

.menu-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 32px;
    vertical-align: middle;
}

img.logo {
    height: 50px;
    width: 160px;
    margin: var(--margin) 0;
}

.page-content {
    max-width: var(--max-page-width);
    margin-left: auto;
    margin-right: auto;
}

.content {
    max-width: var(--max-page-width);
    text-align: center;
}

.container {
    display: flex;
}

.container.horizontal {
    flex-flow: row wrap;
    justify-content: left;
}

.results.container.horizontal,
.buttons.container.horizontal {
    justify-content: center;
}

.container.horizontal > * {
    flex: 0 0 var(--six-column-width);
}

.buttons.small.container.horizontal > * {
    flex: 0 0 var(--twelve-column-width);
}

.container.vertical {
    flex-flow: column nowrap;
    justify-content: space-between;
}

.container.vertical > * {
    flex: 0 0 auto;
}

.entries {
    width: calc(var(--six-column-width) + calc(2 * var(--margin)));
    margin-left: auto;
    margin-right: auto;
}

.entry {
    margin: var(--margin);
    text-align: center;
}

.text {
    width: 100%;
    height: 40px;
    margin-bottom: var(--margin);
    font-family: inherit;
    font-size: inherit;
}

input[type="search"].text {
    margin-bottom: 0;
}

.button {
    width: var(--six-column-width);
    height: 40px;
    border-radius: 10px;
    margin-right: var(--margin);
    margin-bottom: var(--margin);
    vertical-align: top;
    color: white;
    background-color: var(--color-3);
    font-size: 16px;
    border-style: none;
    outline: none;
}

.readonly {
    pointer-events: none;
}

.hidden {
    display: none;
}

.edit-item.button, .delete-item.button {
    margin: var(--small-margin);
}

.message.entry {
    padding: 10px;
    color: white;
    background-color: red;
}

.waiting {
    cursor: progress;
}

.results, .buttons {
    width: 100%;
}

.result, .result-single {
    margin: var(--margin);
    text-align: left;
}

.result {
    border-top: var(--small-margin) solid var(--color-3);
    padding-top: var(--small-margin);
}

.result-detail {
    border-top: 2px solid var(--color-3);
    padding-top: var(--small-margin);
}

.result-important {
    font-weight: bold;
    color: var(--color-3);
}

.result > .title {
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-weight: bold;
}

.figure-book {
    margin: 0;
}

.img-book.small {
    width: var(--six-column-width);
    height: 174px;
}

.img-book.large {
    width: var(--six-column-width);
    height: 174px;
}

/*320px + 20px*/
@media all and (min-width: 340px) {
    /* Base */
    :root {
        --max-page-width: calc(var(--three-column-width) + calc(2 * var(--margin)));
    }

    .entries {
        width: calc(var(--three-column-width) + calc(2 * var(--margin)));
    }

    .container.horizontal > .entry {
        flex: 0 0 var(--three-column-width);
    }

    .container.horizontal > .result-single {
        flex: 0 0 var(--four-column-width);
    }
}

/*480px + 20px*/
@media all and (min-width: 500px) {
    /* Base */
    :root {
        --max-page-width: calc(var(--two-column-width) + calc(2 * var(--margin)));
    }

    .entries {
        width: calc(var(--two-column-width) + calc(2 * var(--margin)));
    }

    .container.horizontal > .entry {
        flex: 0 0 var(--two-column-width);
    }

    .img-book.large {
        width: var(--four-column-width);
        height: 273px;
    }
}

@media all and (min-width: 800px) {
    /* Base */
    :root {
        --max-page-width: calc(calc(5 * var(--six-column-width)) + calc(10 * var(--margin)));
    }
}

@media all and (min-width: 960px) {
    /* Base */
    :root {
        --max-page-width: calc(var(--one-column-width) + calc(2 * var(--margin)));
    }
}